---
title: blog
---

<html>
<head>
    <title>Aarshvi Gajjar</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Aarshvi Gajjar is a Ph.D. student at NYU'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        machine learning,
        statistical machine learning,
        bayesian inference,
        statistics,
        computational statistics,
        linear algebra,
        numerical linear algebra,
        statistical software,
        deep learning,
        computer science
    '>
    <meta name='author' content='Aarshvi Gajjar'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='blog' class='wrap'>
        <h1>Aarshvi Gajjar<img src="aarshvi.png"  style="float:right;width:140px" alt="my photo"></h1> 
        
        <p>
            I am a first year Ph.D. student of computer science at the <a href="https://csefoundations.engineering.nyu.edu/">Algorithms and Foundations Group</a> of NYU's Tandon School of Engineering. 

            Here, I am fortunate to be co-advised by <a href="https://www.chrismusco.com/">Christopher Musco</a> and <a href="https://chinmayhegde.github.io/">Chinmay Hegde</a>.
            Prior to this I received my masters in CS from UMass Amherst in 2021, where I worked with <a href="https://people.cs.umass.edu/~cmusco/">Cameron Musco</a>.

        </p>
        <p>
            I am interested in studying the mathematical foundations of machine learning, specifically in approximation theory, randomized sampling, high dimensional geometry with applications to scientific computing and compressed sensing. 

        </p>
        <div id='posts' class='section'>
            {% for post in site.posts %}
                <div class='post-row'>
                    <p class='post-title'>
                        Course Assistant
                    </p>
                    <p>
                        Algorithmic Machine Learning and Data Science: <a href="https://rajeshjayaram.com/amlds2022">Spring 2022</a> and <a href="https://www.chrismusco.com/amlds2021/">Fall 2021</a>.
                    </p>
                </div>
                <div class='post-row'>
                    <p class='post-title'>
                        Research
                    </p>
                    <p>
                        <a href="https://proceedings.mlr.press/v132/gajjar21a.html"> Subspace Embeddings under Nonlinear Transformations </a> <br>
                        Algorithmic Learning Theory (ALT), 2021
                    </p>
                </div>
                <div class='post-row'>
                    <p class='post-title'>
                        Contact
                    </p>
                    <p>
                        ag7378 'at' nyu 'dot' edu
                    </p>
                </div>
                
                <span class='hidden'>{{ forloop.index }}</span>
            {% endfor %}
        </div>
    </div>
</body>

</html>
